#game-container {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#spacefox {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 375px;
}
